<h1>
    <ul>
    <li><%= @movie.title %></li>
    <li><%= @movie.genre%></li>
    <li><%= @movie.year %></li>
    <li><%= @movie.synopsis %></li>
    <li><%= @movie.picture %></li>
    <li>Favorite? <%= @movie.favorite %></li>
    </ul>
    
    <a href="/movies">Go back</a>

</h1>