<h1>
    <ul>
    <li>Title: <%= @movie.title %></li>
    <li>Genre: <%= @movie.genre%></li>
    <li>Year: <%= @movie.year %></li>
    <li>Synopsis: <%= @movie.synopsis %></li>
    <li><%=image_tag @movie.picture %></li>
    <li>Favorite? <%= @movie.favorite %></li>
    </ul>
    
    <a href="/movies">Go back</a>

</h1>